@*A simple confirmation for a successful submission*@
@{
    ViewData["Title"] = "Movie Submitted";
}

@*Link to refresh the form*@
<a class="btn-block" asp-controller="Home" asp-action="NewMovieForm">Additonal Movie</a>